@import url("../style.css");

body {
    background-color: #f8f8f8;
}

.projects {
    margin-bottom: 40px;
}

.projects a {
    color: #007bff;
    display: block;
    margin-bottom: 15px;
}

.projects h2 {
    color: #28a745;
}

.projects {
    display: inline;
    text-align: center;
}