@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/GoogleSans/GoogleSans-Medium.woff2) format('woff2'),
    url(fonts/GoogleSans/GoogleSans-Medium.woff) format('woff'),
    url(fonts/GoogleSans/GoogleSans-Medium.ttf) format('truetype');
    url(fonts/GoogleSans/GoogleSans-Medium.svg#GoogleSans-Medium) format('svg');
    url(fonts/GoogleSans/GoogleSans-Medium.eot) format('embedded-opentype');
}

@font-face {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/SFPro/SF-Pro-Rounded-Medium.woff2) format('woff2');
    url(fonts/SFPro/SF-Pro-Rounded-Medium.woff) format('woff');
    url(fonts/SFPro/SF-Pro-Rounded-Medium.ttf) format('truetype');
    url(fonts/SFPro/SF-Pro-Rounded-Medium.svg#SFRounded-Medium) format('svg');
    url(fonts/SFPro/SF-Pro-Rounded-Medium.eot) format('embedded-opentype');
}

.favicon-link {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 10px;
}

.favicon {
    width: 32px;
    height: 32px;
}

body {
    -webkit-text-size-adjust: 100%;
    font-family: "Google Sans";
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: #333;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;
    height: 60px;
}

.header-content {
    display: flex;
    flex-direction: row;
}

.header-content a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    height: 60px;
    padding: 20px 15px 10px;
}

.header-content a:hover {
    background-color: #007bff;
    text-decoration: #007bff;
}

#language-toggle {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
    right: 1%;
}

#language-toggle:hover {
    background-color: #444;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.language-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #444;
}

.language-dropdown:hover .dropdown-content {
    display: block;
}

.language-dropdown:hover #language-toggle {
    background-color: #444;
}

.body-content {
    padding: 20px;
}

.profile-picture {
    text-align: center;
    width: 100%;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
}

#overlay-text-en {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: chartreuse;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

#overlay-text-zh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: chartreuse;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.motto {
    background-color: #ffffff;
    text-align: center;
    font-size: x-large;
    padding: 1em 0;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.motto.show {
    opacity: 1;
    transform: translateY(0);
}

.projects a,
.about a,
.contact a {
    display: block;
    text-align: center;
    padding: 20px 40px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
}

.projects a:hover,
.about a:hover,
.contact a:hover {
    background-color: cornsilk;
    text-decoration: cornsilk;
}

.projects a .line,
.about a .line,
.contact a .line {
    width: 0;
    height: 1px;
    background-color: #333333;
    margin: 10px 0;
    transition: width 1.0s ease;
}

.projects a:hover .line,
.about a:hover .line,
.contact a:hover .line {
    width: 100%;
}

.projects a .content-wrapper,
.about a .content-wrapper,
.contact a .content-wrapper {
    display: flex;
    align-items: center;
}

.image-wrapper {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-wrapper.left {
    margin-right: 20px;
}

.image-wrapper.right {
    margin-left: 20px;
}

.text-wrapper {
    flex-grow: 1;
}

.projects a .content-wrapper h2,
.about a .content-wrapper h2,
.contact a .content-wrapper h2 {
    font-family: "Google Sans" !important;
    margin-bottom: 10px;
}

.projects a .content-wrapper p,
.about a .content-wrapper p,
.contact a .content-wrapper p {
    margin-top: 10px;
}

.about a.show,
.projects a.show,
.contact a.show {
    opacity: 1;
    transform: translateY(0);
}

.projects a h2,
.about a h2,
.contact a h2 {
    margin-bottom: 0;
}

.projects a p,
.about a p,
.contact a p {
    font-size: smaller;
    color: #555;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff ;
    display: flex;
}

.content-wrapper {
    display: flex;
    width: 100%;
}

.content {
    flex: 1;
    padding-left: 30px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}

.zh p {
    text-align: center;
}

.en p {
    text-align: center;
}

.en {
    display: block;
}
.zh {
    display: none;
}

@media (max-device-width: 768px) {
    body {
        font-size: 14px;
    }

    header {
        display: flex;
        height: auto;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header-content a {
        height: auto;
        padding: 10px;
        text-align: center;
    }

    #language-toggle {
        margin-top: 10px;
    }

    .profile-picture img {
        width: 100%;
        height: auto;
    }

    #overlay-text-en,
    #overlay-text-zh {
        font-size: 30px;
    }

    .motto {
        font-size: large;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .image-wrapper {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .image-wrapper.left,
    .image-wrapper.right {
        margin-right: 0;
        margin-left: 0;
    }

    .text-wrapper {
        text-align: center;
    }
}