@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/googlesans/v61/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPlwUvaYr.woff2) format('woff2');
}

@font-face {
    font-family: "Google Sans Bold";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/googlesans/v61/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPlwUvaYr.woff2) format('woff2');
}

:root {
    --rs-font-family: Google Sans Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.favicon-link {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 10px;
}

.favicon {
    width: 32px;
    height: 32px;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--rs-font-family), serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    flex: 1;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    width: 100%;
}

header {
    background-color: #333;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;
    height: 60px;
}

.header-content {
    display: flex;
    flex-direction: row;
}

.header-content a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    height: 60px;
    padding: 20px 15px 10px;
}

.header-content a:hover {
    background-color: #007bff;
    text-decoration: #007bff;
}

#language-toggle {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
    right: 1%;
}

#language-toggle:hover {
    background-color: #444;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.language-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #444;
}

.language-dropdown:hover .dropdown-content {
    display: block;
}

.language-dropdown:hover #language-toggle {
    background-color: #444;
}

.content-wrapper {
    display: flex;
    width: 100%;
}

.content {
    flex: 1;
}

.about {
    text-align: center;
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.6;
}

.about h2 {
    text-align: center;
    margin-bottom: 10px;
}

.zh p {
    text-align: center;
}

.en p {
    text-align: center;
}

.en {
    display: block;
}

.zh {
    display: none;
}

@media (max-width: 768px) {
    header {
        display: flex;
        height: auto;
    }

    .header-content a {
        height: auto;
        padding: 10px;
        text-align: center;
    }

    #language-toggle {
        margin-top: 10px;
    }

    main {
        padding: 10px;
    }

    .about h2 {
        font-size: 20px;
    }

    .about-text p {
        font-size: 16px;
    }
}